<div class='row'>
  <div class='columns large-8 large-centered panel'>
    <h3><%= link_to @list.title, edit_todo_list_path(@list) %><h3></br>
    <div class='panel callout'>
      <% @list.todos.incomplete.each do |todo| %>
        <h6><%= link_to todo.title, todo_path(@list) %></h6></br>
      <% end %>
    </div>
  </div>
</div>


