<h1>Welcome to TweedlyDo, <%= @user.name %>!</h1>
<% @user.todo_lists.each do |list| %>
  <h2><%= list.title %></h4></br>
<% end %>
<%= link_to 'Add New Todo', new_todo_list_todo_path(@user) %>
<%= link_to 'Add Todo List', new_user_todo_list_path(@user) %>
