<%= content_for :title, @user.name %>
<div class='row'>
  <div class='columns large-10' id='todos-list'>
    <%= render @todos %>
  </div>
</div>
<%= render partial: 'shared/footer', locals: { user: @user } %>
