<div class='row'>
  <div class='columns large-8 large-offset-1'>
    <%= render @todos %>
  </div>
  <div class='columns large-3 panel'>
   <p><%= @todo.title %></p>
  </div>
</div>
<%= render partial: 'shared/footer', locals: { user: @user } %>
